<div class="jumbotron">
  <h1>Kosupure</h1>
  <h2>Cosplay Cantina</h2>
</div>

<div class=”center”>
  <% @listings.each do |listing| %>
  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
      </div>
    </div>
    <div class="col-md-10">
      <div class="caption">
        <h3><%= link_to listing.name, listing %></h3>
        <div class="bold-price">
          <p>
            <%= number_to_currency(listing.price, locale: "en") %>
          </p>
        </div>
        <p><%= "Sold by #{listing.user.name}" %></p>
      </div>
    </div>
  </div>
  
  <% end %>
</div>
</div>
<% if (user_signed_in?) %>
<%= link_to "New Listing", new_listing_path, class: "btn btn-primary" %>
<% end %>