<section class="listing">
    <div class="jumbotron">
        <h1>Kosupure</h1>
        <h2>Cosplay Cantina</h2>
    </div>
    <div>
       <% if params[:category].blank? %>
            <% Category.only_parents.each do |category| %>
                <%= link_to category.name, params.merge(category: category.id) %>
            <% end %>
        <% else %>
            <% Category.sub_display(params[:category]).each do |category| %>
                <%= link_to category.name, params.merge(category: category.id) %>
            <% end %>
            <% c = Category.find_by_id(params[:category]) %>
            <%= link_to "Back to Parent", params.merge(category: c.parent_id) %>
        <% end %>
      <%# Category.only_parents.each do |category| %>
        <%#= link_to category.name, params.merge(category: category.name) %>
      <%# end %>
    </div>
    <br>
    <div>
        <%= link_to "Highest Price", params.merge(order: "price DESC") %>
        <%= link_to "Lowest Price", params.merge(order: "price ASC") %>
        <%= link_to "Most Recent", params.merge(order: "created_at DESC") %>
    </div>
    <div class=”center”>
        <% @listings.in_groups_of(3, false) do |listing_array| %>
        <div class="row">
            <% listing_array.each do |listing| %>
            <div class="col-md-2">
                <div class="thumbnail">
                    <%= listing_link(listing) %>
                </div>
            </div>
            <div class="col-md-2">
                <div class="caption">
                    <h3><%= link_to listing.name, listing %></h3>
                    <div class="bold-price">
                        <p>
                            <%= number_to_currency(listing.price, locale: "en") %>
                        </p>
                    </div>
                    <p><%= "Sold by #{listing.user.name}" %></p>
                </div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
    <br>
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
    <br>
    <% if (user_signed_in?) %>
    <%= link_to "New Listing", new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
    <% end %>
</section>
