<div class="jumbotron">
  <h1 class="logo">Kosupure</h1>
  <h2>Cosplay Cantina</h2>
  <h6 class="hide-hero-anime"><a href="#">Hide Me Senpai</a></h6>
</div>
<nav class="navbar no-border">
  <div class="navbar-container">

    <div class="navbar-button">
      <a href="#" class="navbar-btn"><i class="fa fa-heart"></i>Feeling lucky punk?</a>
    </div>
    
    <div class="navbar-search">
      <%= form_tag(listings_path , method: "get", class: "search-form") do %>
        <%= text_field_tag(:keyword, params[:keyword], placeholder: search_placeholder ) %>
        <%= hidden_category %>
        <%#= select_tag(:category, options_from_collection_for_select(Category.only_parents, "id", "name")) %>
        <%= submit_tag("Search", :name => nil) %>
      <% end %>
    </div>
  </div>
  <div class="sort">
    <i class="glyphicon glyphicon-sort"></i>
    <%= link_to "Highest Price", params.merge(ordering: "price DESC") %>
    <%= link_to "Lowest Price", params.merge(ordering: "price ASC") %>
    <%= link_to "Most Recent", params.merge(ordering: "created_at DESC") %>
  </div>
  <ul class="flex-menu">
    <% if params[:category].blank? %>
      <% Category.only_parents.each do |category| %>
        <li>
          <%= link_to "#{category.name} #{category_count(category)}", params.merge(category: category) %></li>
      <% end %>
    <% else %>
      <% c = Category.find_by_id(params[:category]) %>
      <li>
        <%= link_to "Up One Level", params.merge(category: c.parent_id) %>
      </li>
      <li>
        <a><%= c.name %>
          <i class="glyphicon glyphicon-play"></i>
        </a>
      </li>
      <% Category.sub_display(params[:category]).each do |category| %>
        <li>
          <%= link_to category.name, listings_path(category: category) %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
</nav>
<%# Category.only_parents.each do |category| %>
  <%#= link_to category.name, params.merge(category: category.name) %>
  <%# end %>
</div>
<div class="container-wrapper">
  <section class="listing">
    <div class=”center”>
      <% @listings.in_groups_of(4, false) do |listing_array| %>
        <div class="row">
          <% listing_array.each do |listing| %>
            <div class="col-sm-3">
              <div class="card">
                <div class="thumbnail">
                  <%= listing_link(listing) %>
                </div>
                <div class="card-block">
                  <h4 class="card-title"><%= link_to listing.name, listing %></h4>
                  <p class="card-text"><%= number_to_currency(listing.price, locale: "en") %></p>
                  <p class="card-text"><%= link_to "Sold by #{listing.user.name}", listings_path(named: listing.user) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <br>
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
    <br>
    <% if (user_signed_in?) %>
      <%= link_to "New Listing", new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
    <% end %>
  </section>
</div>