<div class="container-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <section>
      <header class="item-detail">
        <h2>Manage Your Inventory</h2>
      </header>
        <div id="products" class="row list-group">
          <% @listings.each do |listing| %>
            <div class="item list-group-item  col-lg-4">
              <div class="thumbnail">
                <%= listing_link(listing) %>
                <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                    <%= listing.name %>
                  </h4>
                  <h5>
                    <%= "Price: #{number_to_currency(listing.price)}" %>
                  </h5>
                  <h5><%= "Quantity Remaining: #{listing.quantity}"%></h5>
                  <p>
                    <%= listing.description %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 align-right">
                  <%= link_to "View", listing, class: "btn btn-seller" %>
                  <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-seller" %>
                  <%= link_to 'Destroy', listing, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-seller" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        </div>
        <div class="bottom-nav-container">
        <% if user_signed_in? %>
          <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
        <% end %>
        </div>
      </section>
    </div>
  </div>
</div>