<div class="container-wrapper">
  <div class="panel panel-default">
    <section class="seller">
      <header class="item-detail">
        <h2><%= @listing.name%></h2>
      </header>
      <div class="row show-item">
        <div class="col-md-7 no-padding">
          <% if @listing.images.any? %>
            <% @listing.images.each_index do |i| %>
              <%= image_tag(@listing.images[i].url, class: "img-responsive") %>
              <% end %>
          <% else %>
            <%= image_tag("default.png", class: "img-responsive") %>
          <% end %>
          <div class="flex-menu seller">
            <%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-primary green", data: { no_turbolink: true}  %>
            <% if @listing.trade? %>
              <%= mail_to @listing.user.email, "Contact Seller For Trade", subject: @listing.name, class: "btn btn-primary", data: { no_turbolink: true}  %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 description">
          <p class="quantity">Quantity Remaining: <%= @listing.quantity %></p>
          <p class="price"><%= number_to_currency(@listing.price) %></p>
          <p>Seller: <%= @listing.user.name %></p>
          <p>Decription: <%= @listing.description %></p>
        </div>
      </div>
      <div class="bottom-nav-container">
        <% if current_user == @listing.user %>
          <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-primary" %>
        <% end %>
        <%= link_to 'Back', listings_path, class: "btn btn-primary" %>
      </div>
    </section>
  </div>
</div>