<div class="container-wrapper">
  <div class="panel panel-default">
      <div class="panel-body">
          <div class="row">
              <div class="col-md-12">
                  <section>
                      <header>
                          <h2>Checkout</h2>
                      </header>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="panel panel-default">
                                  <!-- Default panel contents -->
                                  <div class="panel-heading"><%= @listing.name %>
                                      <span class="pull-right"><%= number_to_currency(@listing.price) %></span>
                                  </div>
                                  <div class="thumbnail no-border">
                                      <%= order_image_through_listing(@listing) %>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <%= form_for([@listing, @order]) do |f| %>
                              <% if @order.errors.any? %>
                                  <div id="error_explanation" class="alert alert-danger alert-dismissable">
                                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                      <h4><%= pluralize(@order.errors.count, "error") %>
                                          prohibited this order from being saved:</h4>
                                      <ul>
                                          <% @order.errors.full_messages.each do |msg| %>
                                          <li><%= msg %></li>
                                          <% end %>
                                      </ul>
                                  </div>
                              <% end %>

                              <div id="stripe_error" class="alert alert-danger" style="display:none;">
                                  <noscript>JavaScript is not enabled and is required for this form, please enable it first in your web browser setting.</noscript>
                              </div>

                              <div class="panel panel-default">
                              <!-- Default panel contents -->
                                  <div class="panel-heading">Payment Details
                                  </div>
                                  <!-- List group -->
                                  <ul class="list-group">
                                      <li class="list-group-item">
                                          <%= f.label :ordered_amount, "Quantity to Purchase" %>
                                          <%= f.select :ordered_amount, (1..@listing.quantity), class: "form-control" %>
                                      </li>
                                      <li class="list-group-item">
                                          Total: <%= number_to_currency(@listing.price) %> x <span id="quantity">1</span> item<span id="plural"> </span>= <span id ="total"><%= number_to_currency(@listing.price) %></span>
                                      </li>
                                      <li class="list-group-item">
                                          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                              data-key="<%= @seller.publishable_key %>"
                                              data-name="Kosupure"
                                              data-description="<%= @listing.name %>"
                                              data-amount= ""
                                              data-locale="auto"
                                              data-zip-code="true"
                                              data-shipping-address="true">
                                          </script>
                                      </li>
                                  </ul>
                              </div>
                              <% end %>
                          </div>           
                  </section><%= link_to 'Back', listing_path(@listing), class: "btn btn-primary" %>
              </div>
          </div>
      </div>
  </div>
</div>
  <script>
      var number = Number($('.pull-right').text().replace(/[^0-9\.]+/g,""));
      $("#order_ordered_amount").change(function() {
          $('#total').text('$' + (number * this.value).toFixed(2))
          $('#quantity').text(this.value)
          if (this.value > 1) {
              $('#plural').text('s ')
          } else {
              $('#plural').text(' ')
          }
      });   
  </script>


