<div class="container-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <section>
        <header class="item-detail">
          <h2>Your Kosupure Purchase History</h2>
        </header>
        <div class="vertical shadow-z-1">
          <table id="table" class="table table-hover">
            <thead>
              <tr>
                <th>Item ID</th>
                <th>Item</th>
                <th>Link</th>
                <th>Price</th>
                <th>Qty. Purchased</th>
                <th>Total Paid</th>
                <th>Seller</th>
                <th>Date Purchased</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% @orders.each do |order| %>
                  <td data-title="ID"><%= order.listing_id %></td>
                  <td data-title="Name"><%= order.listing_name %></td>
                  <td data-title="Link"><%= order.listing.nil? ? "Listing Deleted" : link_to("Link", listing_url(id: order.listing_id)) %></td>
                  <td data-title="Price"><%= number_to_currency(order.listing_price) %></td>
                  <td data-title="Qty"><%= order.ordered_amount %></td>
                  <td data-title="Total Paid"><%= number_to_currency(order.total / 100) %></td>
                  <td data-title="Seller"><%= order.seller_name %></td>
                  <td data-title="Date Sold"><%= order.created_at.strftime("%B %-d, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </section>
      </div>
      <div class="bottom-nav-container">
      <% if user_signed_in? %>
        <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink:true } %>
      <% end %>
      </div>
    </div>
  </div>