<div class="container-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <section>
        <header>
          <h2>Your Kosupure Sales History</h2>
        </header>
        <div class="vertical shadow-z-1">
          <table id="table" class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Link</th>
                <th>Price</th>
                <th>Customer</th>
                <th>Date Sold</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% @orders.each do |order| %>
                  <td data-title="ID">1</td>
                  <td data-title="Name"><%= order.listing.name %></td>
                  <td data-title="Link"><a href="#">Link</a></td>
                  <td data-title="Price"><%= number_to_currency(order.listing.price) %></td>
                  <td data-title="Customer"><%= order.buyer.name %></td>
                  <td data-title="Date Sold"><%= order.created_at.strftime("%B %-d, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </section>
      </div>
      <div class="bottom-nav-container">
      <% if user_signed_in? %>
        <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink:true } %>
      <% end %>
      </div>
    </div>
  </div>